<div class="container">
  <h1><p>Icons</p></h1>
</div>
<br><br><br>
<div class="constainer">
<ul>
  <li><mat-icon color="primary">cake</mat-icon></li>
  <li><mat-icon color="warn">domain</mat-icon>  </li>
  <li><mat-icon color="">group</mat-icon> </li>
  <li><mat-icon>mood</mat-icon>  </li>
  <li><mat-icon>notifications</mat-icon></li>
  <li><mat-icon>notifications_active</mat-icon></li>
  <li><mat-icon>notifications_none</mat-icon></li>
  <li><mat-icon>notifications_off</mat-icon></li>
  <li><mat-icon>pages</mat-icon></li>
</ul>
</div>
