<div class="container">

  <h1>Progress-Spinner</h1>
  <p>mat progressive spinner conatian the value between 0 to 100 for show the circle</p>
  <p>It can be use to show the progress of the workinhg or show the percentage of anything </p>
  <p>Genearally it use for show the progress of the working percentage </p>
  <mat-progress-spinner value="70"></mat-progress-spinner>
  <h1>Work Done</h1>
</div>

<br><br>
<div class="container">
  <h1>Indeterminate Spinner </h1>
  <p>It can be use to show the user that sommething is running in backgroud </p>
  <p>The inderterminate spinner use for that something is running in the backgroud and the ui is in progress there is something progress in backgound

  </p>
  <mat-spinner></mat-spinner>
</div>
