
<div class="container">
  <h1>Button Type </h1>
  <button mat-button>Button </button>
  <button mat-raised-button> Raised Button </button>
  <button mat-flat-button>Flat Button</button>
  <button mat-stroked-button>Stroked Button</button>
</div>
<br><br>
<div class="container">
  <h2 >Button Varient </h2>
<button mat-icon>Icon </button>
<button mat-fab>Fab</button>
<button mat-mini-fab>MiniFab</button>
</div>
<br><br>

<div class="container">
  <h2 >Button Color </h2>
  <button mat-button color="warn">Warn Button </button>
  <button mat-button color="primary">primary Button </button>
  <button mat-button color="accent">Accent Button </button>

  <button mat-raised-button color="warn"> Warn Button </button>
  <button mat-raised-button color="primary"> Primary Button </button>
  <button mat-flat-button color="accent">Accent Button</button>
</div>
<br><br>

