<div class="container">
  <mat-form-field [floatLabel]="'never'" hideRequiredMarker="true" appearance="legacy">
    <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint align="end">Minimum length 5 required</mat-hint>
  </mat-form-field>
  <h1>apperance standard </h1>
  <mat-form-field [floatLabel]="'never'" hideRequiredMarker="true" appearance="legacy">
    <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint align="end">Minimum length 5 required</mat-hint>
  </mat-form-field>

  <h1>Apperance fill</h1>
  <mat-form-field [floatLabel]="'never'" hideRequiredMarker="true" appearance="fill">
    <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint align="end">Minimum length 5 required</mat-hint>
  </mat-form-field>

  <h1>Apperance outline</h1>
  <mat-form-field [floatLabel]="'never'" hideRequiredMarker="true" appearance="outline">
    <mat-label>Name</mat-label>
      <input matInput required>
      <mat-hint align="end">Minimum length 5 required</mat-hint>
  </mat-form-field>



</div>

